.formContainer{
    background-color: #a7f6ff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .formWrapper{
        background-color: white;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        .logo{
            color: #615dca;
            font-weight: bold;
            font-size: 24px;
        }
        .title{
            color: #615dca;
            font-size: 24px;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 15px;

            input{
                padding: 15px;
                border: none;
                width: 25p0x;
                border-bottom: 2px solid #a7f6ff;
                &::placeholder{
                    color: rgb(175, 175, 175);
                }
            }
            button{
                background-color: #829ae7;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }
            label{
                display: flex;
                align-items: center;
                gap: 10px;
                color: #5d5b8d;
                font-size: 15px;
                cursor: pointer;
            }
            .avatar{
                height: 32px;
                width: 32px;
                color: aqua;
                
                // fill: rgb(233, 21, 21);
            }
        }
        p{
            color: #5d5b8d;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}